*{
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

input.search-bar:-webkit-autofill,
input.search-bar:-webkit-autofill::first-line,
input.search-bar:-webkit-autofill:hover, 
input.search-bar:-webkit-autofill:focus, 
input.search-bar:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #333333 inset !important;
    -webkit-text-fill-color: white;
    -webkit-animation: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
html{
  background-color: #fff;
  color: black;
}
li{
  list-style-type: none;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input{
  color: #fff !important;
}