nav{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
    width: 100vw;
    height: 5vh;
    align-items: center;
}
a{
    padding: 0 16px;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    color: white;

}
a:hover{
    color: white;
}